.element__like {
  text-decoration: none;
  background: url(../../../images/heart.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
  cursor: pointer;
  min-width: 22px;
  min-height: 19px;
}

.element__like:hover {
  opacity: 0.5;
}
