.popup__input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 13px 0;
  margin-bottom: 17px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__input:nth-child(2) {
  margin-bottom: 48px;
}
