.profile-info__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 320px) {
  .profile-info__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 282px;
  }
}
