.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  margin-bottom: 67px;
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
    gap: 19px 20px;
  }
}
