.profile-info__title {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .profile-info__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding-right: 10px;
  }
}
