.profile-info {
  display: grid;
  grid-template-columns: minmax(0, 294px) 24px;
  align-self: center;
  gap: 14px 18px;
  align-items: flex-end;
  flex: auto;
  grid-auto-flow: row dense;
}

@media screen and (max-width: 600px) {
  .profile-info {
    grid-template-columns: 1fr 18px;
    margin-right: -27px;
    gap: 8px 10px;
    margin-bottom: 36px;
    margin-top: 26px;
  }
}
